* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
}
.container {
  display: grid;
  width: 100%;
  height: 800px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80px repeat(5, 1fr);
  background-color: #fff;
}

.container > div:nth-child(1) {
  grid-column: 1/4;
}

.container > div:nth-child(2) {
  grid-column: 4/7;
}

.container > div:nth-child(3) {
  grid-column: 1/4;
}

.container > div:nth-child(4) {
  grid-column: 4/7;
}
.container > div:nth-child(5) {
  grid-column: 1/4;
}

.container > div:nth-child(6) {
  grid-column: 4/7;
}
.container > div:nth-child(7) {
  grid-column: 1/7;
}

.container > div:nth-child(8) {
  grid-column: 1/3;
}

.container > div:nth-child(9) {
  grid-column: 3/5;
}

.container > div:nth-child(10) {
  grid-column: 5/7;
}

.logo-container {
  height: 80px;
  padding-left: 209px;
  padding-top: 20px;
  border-bottom: 1px solid #edeef2;
}

.header-search-input {
  position: absolute;
  height: 40px;
  width: 224px;
  margin-left: 50px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: url('https://static.thenounproject.com/png/101791-200.png')
    no-repeat right;
  background-color: #edeef2;
  background-size: 20px;
}

.menu-item-container {
  display: flex;
  position: relative;
  height: 80px;
  padding-left: 168px;
  border-bottom: 1px solid #edeef2;
}

.menu-item-container ul li {
  list-style: none;
  text-decoration: none;
}

.menu-item-container ul li a {
  text-decoration: none;
  color: #2b2b43;
}

.menu-item-container .hr {
  margin: 0;
  padding: 4px;
  margin-top: 25px;
}

.menu-item-container .hr li {
  display: inline;
  margin-right: 35px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.header-items {
  display: flex;
}

.header-items-cart {
  position: relative;
  background-color: #f3f4ff;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-right: 16px;
  align-self: center;
  justify-self: center;
}

.header-items-cart-img-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-items-cart-count {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
  background-color: #4e60ff;
  border-radius: 8px;
}

.count-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px;
  line-height: 14px;
}

.avatar-img {
  width: 48px;
  height: 48px;
  align-self: center;
  justify-self: center;
}

.container .item .wrap-1 {
  display: flex;
  width: 555px;
  height: 188px;
  background-color: #f3f4ff;
  margin-left: 205px;
  margin-top: 30px;
  border-radius: 16px;
}

.container .item .wrap-1 div {
  width: 50%;
}

.all-deserts {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-left: 16px;
  margin-top: 20px;
}

.wrap-1 .sale-20 {
  font-family: Nunito;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.1px;
  margin-left: 16px;
  margin-top: 8px;
  color: #4e60ff;
}

.deserty {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-left: 16px;
  margin-top: 36px;
  color: #83859c;
}
.container .item .wrap-2 {
  display: flex;
  width: 555px;
  height: 188px;
  background-color: #fff3ed;
  margin-left: 27px;
  margin-top: 30px;
  border-radius: 16px;
}

.wrap-2 .sale-50 {
  font-family: Nunito;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.1px;
  margin-left: 16px;
  margin-top: 8px;
  color: #fd6d22;
}

.item-3 {
  display: flex;
  padding-left: 185px;
  padding-top: 10px;
  text-align: center;
}

.item-3 .items {
  border: 1px solid #edeef2;
  border-radius: 16px;
  width: 160px;
  height: 80px;
  padding-top: 15px;
  margin: 20px;
}

.item-3 .items:hover {
  border: 2px solid #4e60ff;
  background-color: #f3f4ff;
}

#left {
  display: flex;
  padding-left: 7px;
  text-align: center;
  padding-top: 10px;
}

.market {
  display: flex;
  justify-content: space-between;
}

.market h6 {
  font-size: 24px;
}

.rests-infos {
  display: flex;
  padding: 30px 0px;
  align-items: center;
  justify-content: center;
}

.rest-2 img {
  margin-left: 30px;
}

.rest-2 {
  border-radius: 16px;
  position: relative;
}

.rest-info {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
  padding: 5px;
}

.rest-info-cart {
  position: relative;
}

.rest-items-cart-count {
  position: absolute;
}

.time-info {
  margin-left: 30px;
  color: #83859c;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.rest-img {
  border-radius: 16px 16px 0 0;
}
.rest-btn {
  display: flex;
  height: 25px;
  width: 90px;
  background-color: #edeef2;
  color: #545563;
  font-size: 12px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-top: 15px;
}
.rest-btn img {
  margin: 0 5px 0 0;
  padding: 0px;
}
.rest-btns {
  display: flex;
}

.right-btn {
  width: 94px;
  position: absolute;
  height: 32px;
  color: #fff;
  background-color: #4e60ff;
  border-radius: 0px 14px 0px 14px;
  font-size: 11px;
  font-weight: normal;
  text-align: center;
  padding-top: 8px;
  letter-spacing: 0.7px;
  line-height: 16px;
  margin-left: 286px;
}

.elipse {
  background-color: #4e60ff;
}

.rest-items-cart {
  position: relative;
  background-color: #1fa576;
  right: 40px;
}

.rest-items-cart-img-wrapper {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rest-items-cart-count {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  left: 24px;
  top: 0;
  transform: translate(50%, -50%);
  background-color: #4e60ff;
  border-radius: 6px;
}

.rest-count-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 10px;
  line-height: 14px;
}
