* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.login-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
}

.login {
  background-color: white;
}
.info {
  background-color: #697bff;
}
.site-name1 {
  margin-top: 20px;
  margin-left: 165px;
}
.site-name {
  color: #697bff;
}
h1 {
  margin-left: 165px;
  font-size: 60px;
  line-height: 82px;
  margin-top: 132px;
  letter-spacing: 0.1px;
  color: #2b2b43;
  font-family: 'Nunito', sans-serif;
}

.login-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin-left: 165px;
}
.login-form {
  margin-top: 32px;
  margin-left: 165px;
}
.login-label {
  margin-top: 40px;
  font-size: 12px;
}
.login-input {
  margin-top: 4px;
  width: 350px;
  height: 44px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #c7c8d2;
}
.checkbox {
  margin-top: 28px;
  letter-spacing: 0.1px;
}
.check {
  margin-top: 28px;
  height: 20px;
  width: 20px;
}
.check-text {
  margin-left: 12px;
  margin-top: 14px;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}
.login-btn {
  width: 350px;
  height: 44px;
  background: #4e60ff;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
  font-weight: 700;
  margin-top: 40px;
}
.forgot-psw {
  margin-top: 40px;
  color: #4e60ff;
  margin-left: 110px;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-weight: 700;
}

.sign-up {
  color: #4e60ff;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
}
.text-center {
  margin-top: 130px;
  margin-left: 60px;
}
.img-wrapper {
  position: relative;
}
.img1 {
  width: 300px;
  position: absolute;
  margin-left: 155px;
  margin-top: 48px;
}
.img2 {
  position: absolute;
  width: 250px;
  margin-left: 485px;
  margin-top: 80px;
}
.img3 {
  position: absolute;
  margin-left: 130px;
  margin-top: 419px;
}
.rew-text {
  font-size: 42px;
  letter-spacing: 0.1px;
  font-weight: 700;
  color: white;
  margin-left: 190px;
  margin-top: 600px;
  letter-spacing: 0.1px;
}
.text1 {
  text-align: center;
  margin-top: 16px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.slides-dot {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
}
.dot {
  grid-row: 1/5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(196, 190, 190);
  opacity: 0.3;
  align-self: center;
  justify-self: center;
  margin-top: 60px;
}
.dot:hover {
  background-color: rgba(255, 255, 255);
}

.menu {
  width: 100%;
  height: 100vh;
  background-color: #a3a5b6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 80px repeat(5, 1fr);
}

header {
  width: 100%;
  height: 80px;
  background-color: aqua;
  grid-column: 1/9;
}
.input-search {
  width: 224px;
  height: 40px;
  border-radius: 12px;
  background: #edeef2;
  border: none;
}
.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px;
  align-items: center;
  width: 100%;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: #2b2b43;
  font-size: 14px;
  font-weight: 700;
}

.logo1 {
  margin-left: 165px;
}
.logo2 {
  color: #697bff;
}
ul.hr {
  margin: 0;
}
ul.hr li {
  display: inline;
  margin-right: 25px;
  align-content: center;
}
ul .hr li {
  display: grid;
  text-align: center;
  grid-row: 3/5;
}
.shop-img {
  margin-left: 10px;
}
.profile-img {
  margin-left: 160px;
  border-radius: 10px;
}
