.setting-container {
  position: relative;
  width: 400px;
  height: 500px;
  left: 200px;
  top: 18px;
}

.user-container {
  display: flex;
  position: absolute;
  margin-top: 24px;
  border: 1px solid #edeef2;
  height: 72px;
  width: 350px;
  left: 0px;
  top: 10px;
  border-radius: 16px;
}

.setting-container h1 {
  color: #2b2b43;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.user {
  position: relative;
  width: 40px;
  height: 40px;
  background: #4e60ff;
  border-radius: 12px;
  margin-top: 16px;
  margin-left: 16px;
}
.user i {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #fff;
}

.map-container {
  display: flex;
  position: relative;
  margin-top: 80px;
  border: 1px solid #edeef2;
  height: 72px;
  width: 350px;
  left: 0px;
  top: 10px;
  border-radius: 16px;
}

.map,
.pay,
.security {
  width: 40px;
  height: 40px;
  background: #edeef2;
  border-radius: 12px;
  margin-top: 16px;
  margin-left: 16px;
}

.map i,
.pay i,
.security i {
  position: absolute;
  left: 29px;
  top: 27px;
  color: rgb(152, 145, 145);
}

.user-personal-info div,
.map-info div,
.pay-info div,
.security-info div {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.1px;
  margin-top: 16px;
  margin-left: 10px;
}

.user-personal-info span,
.map-info span,
.pay-info span,
.security-info span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-left: 10px;
  color: #545563;
}

.settings-item {
  text-decoration: none;
  color: #2b2b43;
}

.security-container,
.pay-container {
  display: flex;
  position: relative;
  margin-top: 12px;
  border: 1px solid #edeef2;
  height: 72px;
  width: 350px;
  left: 0px;
  top: 10px;
  border-radius: 16px;
}

.user-container:active,
.map-container:active,
.pay-container:active,
.security-container:active {
  background-color: #f3f4ff;
  border: 2px solid #4e60ff;
}

.personal-information {
  border: 1px solid black red;
  width: 730px;
  height: 688px;
  margin-left: 130px;
}

.main-container h5 {
  margin-top: 20px;
  margin-right: 100px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
}

.settings-avatar-container {
  display: flex;
}

.container main {
  grid-column: 4/7;
}

.pers-info {
  margin-top: 10px;
  color: #2b2b43;
}
.main-avatar {
  margin-top: 20px;
  font-size: 12px;
  color: #545563;
}

.main-avatar img {
  margin-top: 10px;
}

.btn {
  width: 85px;
  height: 43px;
  margin-left: 20px;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 14px;
  color: #83859c;
  border: none;
}

.form-div {
  display: flex;
  width: 100%;
  height: 150px;
}

.form-left label {
  font-size: 12px;
  color: #545563;
}

.form-left input {
  width: 341px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #c7c8d2;
}

.form-left input::placeholder {
  padding-left: 10px;
  color: #2b2b43;
}

.form-right {
  margin-left: 16px;
}

.form-right label {
  font-size: 12px;
  color: #545563;
}

.form-right input {
  width: 341px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #c7c8d2;
}

.form-right input::placeholder {
  padding-left: 10px;
  color: #2b2b43;
}

.ntf-container {
  width: 100%;
  height: 200px;
  margin-top: 40px;
}

.ntf-title h6 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 700;
  color: #2b2b43;
  margin-bottom: 10px;
}

.ntf-container .ntf-checkboxes {
  display: flex;
}

.check1,
.check2 {
  width: 45%;
  height: 70px;
}
.check1 div,
.check2 div {
  font-size: 14px;
  color: #2b2b43;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 400;
}

.check1 div input,
.check2 div input {
  margin: 10px 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.ntf-buttons {
  width: 100%;
  height: 50px;
}

.log-out-btn {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ff5c60;
  color: #ff5c60;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 700;
}

.discard-chng {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #83859c;
  color: #83859c;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 700;
  margin-left: 300px;
}

.save-chng {
  width: 130px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #4e60ff;
  background-color: #4e60ff;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 700;
  margin-left: 10px;
}
